section.brand
.brand-logo.container
    img(src="../assets/images/brand_logo.png", alt="")
section#footer
    .footer-wrapper.container
        .footer__item
            h1 THÔNG TIN
            .footer__item-info
                h2 Về chúng tôi
                h2 Giao hàng
                h2 Cảm nghĩ
                h2 Lưu trữ
                h2 Danh sách 
            
        .footer__item
            h1 Mua hang
            .footer__item-info
                h2 VẬN chuyển trả hàng
                h2 Mua hàng an toàn
                h2 vận chuyển quốc tế
                h2 Liến kết
                h2 Dịch vụ giảm giá
        .footer__email
            h1 Gửi email
            .footer__email-input
                p Gửi email cho chúng tôi để đượng hỗ trợ
                .footer__item-input__form
                    input(type='text', name='sendmail', placeholder='Enter your email')
                    img(src="../assets/images/footer_send.png", alt="")
                    span Gửi
                ul
                    li
                        a(href="")
                            i.fa.fa-dove
                    li
                        a(href="")
                            i.fa.fa-dove                
                    li
                        a(href="")
                            i.fa.fa-volleyball-ball              
                    li
                        a(href="")
                            i.fa.fa-wifi            
        .footer__local
            h1 Liên hệ
            .footer__item-local
                p
                    i.fas.fa-map-marker-alt   Tầng 4,Tòa nhà HaNoi Group Số 442 Đội Cần, P.Cộng Vị, Quận Ba ĐÌnh, Hà Nội.
                    br
                    i.fas.fa-phone-volume   (04) 6674 2332 -    
                    i.fas.fa-phone-volume   (04) 37868904
                    br
                    i.fas.fa-phone-volume   (08) 6608 9686      
                    i.fas.fa-envelope
                        a(href='#')   Support@bizweb.vn
    hr
    .footer-under.container
            .footer-under__left
                p @CoppyRight 2018-2014 DKT Technology JSC
            .footer-under__right
                img(src="../assets/images/footer.png", alt="")
    

                
