section.header
    .container.header-nav
        .header-nav__menu
            ul.header-nav__menu-list
                li.header-nav__menu-item
                    a(href="#").header-nav__menu-link Tài khoản của tôi  
                li.header-nav__menu-item 
                    a(href="#").header-nav__menu-link Trạng thái đơn hàng  
                li.header-nav__menu-item 
                    a(href="#").header-nav__menu-link Danh sách ưa thích  
                li.header-nav__menu-item 
                    a(href="#").header-nav__menu-link Giỏ hàng  
                li.header-nav__menu-item 
                    a(href="#").header-nav__menu-link Đăng nhập  
                li.header-nav__menu-item 
                    a(href="#").header-nav__menu-link Đăng ký 
        .header-nav__search
            input.header-nav__search-input(type="text", placeholder="Tìm kiếm gì ở đây ...")
            i.fas.fa-search

